
html{
  font-size: 62.5%;
}
body{
  font-family: Helvetica,Arial,sans-serif;
  font-size: $m-size;

}
.button:disabled{
  cursor: not-allowed;
  opacity: .5;
}
.button{
  cursor: pointer;
}
.is_active{
  color: blue;
  font-weight: bold;
}