//Colors
$dark-gray:#333333;
$blue:#1c88bf;
$dark-blue:#364051;
$gray: rgba(0, 0, 0, 0.23);
$gray_text:#666;
$off-white:#f7f7f7;
//font size
$font-size-larger:1.8rem;
//Spacing
$m-size:1.6rem;
$s-size:1.2rem;
$l-size:3.6rem;
$xl-size:4.2rem;
$body-background:#333745;
$mobile-break-point:600px;
$desktop-breakppint:980px;


//Sizing
